// Specific CSS for your home-page
.home {
  .banner {
    .container {
      display: flex;
      height: 50%;
      align-items: center;
    }

    .btn-xl {
    padding: 10px 40px;
    font-size: 35px;
    border-radius: 10px;
    color: #808080;
}
  }
}

.container-2 {
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
  font-weight: bold;

  h1 {
      color: white;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
      font-size: 100px;
      font-weight: bolder;
      padding: 20px;
    }

}


