<h1>Crash Pad</h1>

<div class="cards">
  <% @flats.each do |flat| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1464890100898-a385f744067f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80)">
        <div class="card-infos">
          <%= flat.name %>
        </div>
    </div>
  <% end %>
</div>
