<div class="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.freepik.com/free-photo/sofa_74190-4103.jpg);">
    <div class="container">
      <h1>Welcome to Crash Pad!</h1>
    </div>
  </div>
</div>
