.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  // margin-top: 50px;
  // position: absolute;
  bottom: 0;
  width: 100%;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #393939;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #F6BA47;
}

.footer-copyright {
  color: #393939;
}



