.navbar-lewagon {
  // justify-content: space-between;
  background: white;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.move-right {
  margin-left: auto;
}

#title {
  font-size: 20px;
  vertical-align: middle;
  padding-top: 5px;
  font-weight: bold;
  color: #393939;
}

.btn-sign-up {
  color: #e67e23 !important;
}

.btn-sign-up:hover {
  color: white !important;
}
